make-hover(color, all = false)
  if all
    border-color color
    color color
    
  +hover-state()
    background color
    border-color color
    color body-background-color
    outline none

.Button
  background none
  border 3px solid header-background-color
  color header-background-color
  cursor pointer
  display inline-block
  font-weight 600
  margin 0
  padding vr-block(.125) vr-block(.25)
  text-align center !important
  transition all .2s linear

  // Default color
  make-hover(header-background-color)

  &--blue
    make-hover(blue-500)

  &--all-blue
    make-hover(blue-500, true)

  &--green
    make-hover(green-500)
