.Code
  background #1b2b34
  border 3px solid blue-500
  color body-background-color
  font-weight 500
  margin-bottom vr-block(1)
  overflow-x auto
  padding vr-block(.5)

  code
    background none
    padding 0

  .comment
    color #65737e

  .output
    color #FAC863

  &--lang-js

    .storage
    .keyword
    .arrow
      color #C594C5

    .punctuation
      color #5FB3B3

    .function
      color #6699CC

    .parameter
    .number
      color #F99157

    .console
    .class
      color #FAC863



    .string
      color #99C794
