font-color = #454d60
icons = {
  Github: '\0041',
  Codepen: '\0042',
  FCC: '\0043',
  Linkedin: '\0044',
  Facebook: '\0045',
  Email: '\0046'
}

.Footer
  background header-bg-color
  bottom 0
  height 45%
  position absolute
  transition all .2s linear
  width 100%

  &__wrapper
    margin-top vr-block(1)
    opacity 0
    text-align center
    transform scale(0, 0)
    transition transform .5s linear

    &__attribution
    &__icon
      color font-color

    &__icon
      display inline-block
      font-size vr-block(1.5)
      margin-left 10px
      margin-right 10px
      transition color .2s linear

      +hover-state()
        color header-font-color

      for icon, content in icons
        &--{icon}
          display inline-block
          font-family Flaticon
          font-style normal

          &:before
            content content
          // Provides text to icons at desktop widths
          +above(breakpoints.desktop)
            &:after
              content icon
              font-family text-font-stack
              font-size vr-block(.3)
              margin-left 10px
              vertical-align top

    &--visible
      opacity 1
      transform scale(1, 1)

    &__copyright
      color font-color
      display block
      text-align center

  &--content-active
    bottom -(vr-block(6))
    box-shadow 0 -5px 11px 0 rgba(0,0,0,0.4), 0 -4px 15px 0 rgba(0,0,0,0.32)
    height vr-block(6)
