.Footer
  absolute bottom
  background header-background-color
  height 50%
  padding-top vr-block(1)
  transition all layout-transition-time linear
  width 100%

  &__wrapper
    opacity 0
    text-align center
    transform scale(0, 0)
    transition transform .5s linear

    &__copyright
    &__attribution
    &__icon
      color footer-color

    &__icon
      display inline-block
      font-size vr-block(1.5)
      margin-left 5px
      margin-right @margin-left
      transition color .2s linear

      +hover-state()
        color header-hover-color

      for icon, content in icons
        &--{icon}
          font normal vr-block(1.5) Flaticon

          &:before
            content content
          // Provides text to icons at desktop widths
          // +above(breakpoints.desktop)
          //   &:after
          //     content icon
          //     font-family text-font-stack
          //     font-size vr-block(.3)
          //     margin-left 10px
          //     vertical-align middle

    // Zoom in effect of footer for frontpage, when text has finished typing
    &--visible
      opacity 1
      transform scale(1, 1)

    &__copyright
      display block
      margin-top vr-block(.25)
      text-align center

  // FIXME: Footers height doesn't expand on mobile, when icons collapse because they dont fit.
  // Setting min-height makes it toooo big
  &--content-active
    border-top border-size solid footer-color
    bottom -(vr-block(footer-height))
    // box-shadow 0 -5px 11px 0 rgba(0,0,0,0.4), 0 -4px 15px 0 rgba(0,0,0,0.32)
    height vr-block(footer-height)
    padding-top 0
