.Footer
  absolute bottom
  background header-bg-color
  height 50%
  transition all .2s linear
  width 100%

  &__wrapper
    opacity 0
    text-align center
    transform scale(0, 0)
    transition transform .5s linear

    &__copyright
    &__attribution
    &__icon
      color header-blended-font-color

    &__icon
      display inline-block
      font-size vr-block(1.5)
      margin-left 5px
      margin-right 5px
      transition color .2s linear

      +hover-state()
        color header-font-color

      for icon, content in icons
        &--{icon}
          display inline-block
          font-family Flaticon
          font-style normal

          &:before
            content content
          // Provides text to icons at desktop widths
          +above(breakpoints.desktop)
            &:after
              content icon
              font-family text-font-stack
              font-size vr-block(.3)
              margin-left 10px
              vertical-align top

    // Zoom in effect of footer for frontpage, when text has finished typing
    &--visible
      opacity 1
      transform scale(1, 1)

    &__copyright
      display block
      text-align center

  // FIXME: Footers height doesn't expand on mobile, when icons collapse because they dont fit.
  // Setting min-height makes it toooo big
  &--content-active
    bottom -(vr-block(header-height - 1))
    box-shadow 0 -5px 11px 0 rgba(0,0,0,0.4), 0 -4px 15px 0 rgba(0,0,0,0.32)
    height vr-block(header-height - 1)
