gradient-height = header-img-size + 2
transition-time = .2s

@keyframes blink
  50%
    opacity 0

.Header
  background header-bg-color
  height 50%
  position relative
  transition height transition-time linear

  &__gradient
    absolute top left
    background darken(header-bg-color, 15%)
    display block
    height 0
    transition height transition-time linear
    width 100%

    ^[0]--content-active &
      height vr-block(gradient-height)

  // TODO: Add fancy hoverstate
  &__img
    border 3px solid subheading-color
    border-radius 50%
    height vr-block(header-img-size)
    width vr-block(header-img-size)

  // TODO: Remove title when content active
  &__title
    absolute bottom left
    color header-font-color
    margin 0
    text-align center
    transition bottom transition-time linear
    width 100%

    ^[0]--content-active &
      bottom vr-block((header-height - gradient-height - 2) / 2)

    &::after
      animation blink 1s linear infinite
      color body-bg-color
      content '|'

      ^[0]--content-active &
        content ''

  &--content-active
    // box-shadow 0 5px 11px 0 rgba(0,0,0,0.4), 0 4px 15px 0 rgba(0,0,0,0.32)
    height vr-block(header-height)
