@keyframes blink
  50%
    opacity 0

.Header
  background header-bg-color
  height 100%

  &__title
    margin 0
    text-align center
    width 100%
    align()

    &::after
      animation blink 1s linear infinite
      color body-bg-color
      content '|'
