.Nav
  background body-bg-color
  display none
  height 100%
  position fixed
  width 100%
  // ensure nav stays on top of the page
  z-index 10

  &__links
    text-align center
    align()

    &__link
      font-size vr-block(.9)
      margin vr-block(1)
      stack()

  &--visible
    display block

  +above(breakpoints.tablet)
    // FIXME: Nav sits over img so is unclickable. Tried 50% width and top right but
    // the container doesn't do its job then
    background none
    display block
    height vr-block(header-height)
    position absolute
    width 100%

    &__links
      float right
      // Margin 1/4 of the size of the header image so it and the links look inline
      margin vr-block(header-img-size / 4)
      position static
      transform none

      &__link
        unstack()
        margin-right vr-block(1)

        // TODO: Better active  and hover states for nav links? rather than default
        &--active
          color blue-50
          cursor default

          +hover-state()
            color blue-50
