.Nav
  background body-bg-color
  display none
  height 100%
  position fixed
  width 100%
  // ensure nav stays on top of the page
  z-index 10

  &__links
    align()

    &__link
      font-size vr-block(1)
      margin vr-block(1)
      stack()

  &--visible
    display block
