session = {
  normal: green-900,
  hover: green-700
}

break = {
  normal: red-900,
  hover: red-500
}

box-border(color, size = 2px, blur = 0)
  box-shadow: size 0 blur size color,
    0 size blur size color,
    -(size) 0 blur size color,
    0 (-(size)) blur size color

session-colors(colors)
  box-border(colors.normal)

  +hover-state()
    box-border(colors.hover, 4px, 4px)

@keyframes session-finish
  50%
    background: session.hover

@keyframes break-finish
  50%
    background: break.hover

input-style(colors)
  div
    border: 3px solid colors.normal
    box-sizing content-box
    height 36px
    line-height 0
    margin 0 auto
    width vr-block(11)

  label
    box-sizing content-box
    color: colors.normal
    margin 0 auto -2px auto
    padding 0
    text-align left
    text-transform capitalize
    width vr-block(11)

    .session-name
    .time
      border: 3px solid colors.normal
      border-bottom 0
      display inline-block
      font-size vr-block(.7)
      text-align center
      width vr-block(2)

    .session-name
      background: colors.normal
      color body-background-color
      font-weight bold
      margin-left -3px

    .time
      padding-left 5px
      padding-right 5px

  custom-range-input(colors.normal, colors.hover, vr-block(11))

.PomodoroTimer
  text-align center
  user-select none

  &__timer
    background blue-grey-900
    border 6px solid @background
    border-radius 50%
    cursor pointer
    height vr-block(11)
    margin 0 auto
    overflow hidden
    position relative
    transition all .2s linear
    width @height

    &--session
      session-colors(session)

    &--break
      session-colors(break)

    &__time
      align()
      color body-background-color
      font-size vr-block(3)

    &__cta
      align()
      color rgba(body-background-color, .05)
      font-size vr-block(11) !important

    &__fill
      absolute bottom left
      height 0
      transition @transition
      width @width

      ^[1]--session &
        background: session.normal

        &--finish
          animation session-finish .6s linear 5

      ^[1]--break &
        background: break.normal

        &--finish
          animation break-finish .6s linear 5

  &__input
    margin-top vr-block(.7)

    &--session
      input-style(session)

    &--break
      input-style(break)
