.Projects

  &__wrapper
    cf()

  &__project
    aspect-ratio 16 10
    border border-size solid content-color
    display block
    margin vr-block(1) auto 0 auto
    width 100%
    z-depth '1' true

    &__live-preview
      height 80%
      overflow hidden
      position relative

      > img
        height 100%
        width 100%
      
      > div
        absolute bottom
        background rgba(0%, 0%, 0%, 0.5)
        height vr-block(2)
        width 100%

        i
          absolute bottom 10% right 10px
          color body-background-color
          font normal vr-block(1.5) Flaticon
          transition .2s linear

          &:before
            content: '\0041'

          +hover-state()
            color blue-300

    &__title-wrapper
      background content-color
      height 20%
      margin 0
      position relative

      &__title
        align()
        color header-color
        font-size vr-block(1.1)
        text-align center
        width 100%

    +above(breakpoints.tablet)
      col(1/2, cycle: 2)

      // If there is only one project, then use full availble space
      &:first-child:nth-last-child(1)
        col(1/1, uncylce: 2)
