.Projects

  &__wrapper
    cf()

  &__project
    aspect-ratio 16 9
    border 3px solid grey-300
    margin vr-block(1) auto 0 auto
    width 100%
    z-depth('1.5')

    &__live-preview
      height 80%
      overflow hidden
      position relative

      > iframe
        absolute top left
        height 201%
        transform scale(.5)
        transform-origin top left
        width 201%

      &__overlay
        absolute top left
        background rgba(black, 0.7)
        content ''
        height 100%
        opacity 0
        width 100%
        transition all .2s linear

        &__links
          align()

          for icon, content in icons
            &--{icon}
              color grey-300
              font normal vr-block(2) Flaticon

              &:not(:first-child)
                margin-left vr-block(.3)

              &:before
                content content

        +hover-state()
          opacity 1

    // FIXME: Align title in the middle
    &__title
      background grey-300
      display block
      font-size vr-block(1.2)
      height 20%
      margin 0
      text-align center

    +above(breakpoints.tablet)
      col(1/2, cycle: 2)

      // If there is only one project, then use full availble space
      &:first-child:nth-last-child(1)
        col(1/1, uncylce: 2)
