.Projects
  
  &__wrapper
    cf()

  &__project
    aspect-ratio 16 9
    border border-size solid content-color
    display block
    margin vr-block(1) auto 0 auto
    width 100%
    z-depth '1' true

    &__live-preview
      height 80%
      overflow hidden
      position relative

      > iframe
        absolute top left
        height 201%
        transform scale(.5)
        transform-origin top left
        width @height

      > section
        absolute top left
        background rgba(black, 0.6)
        content ''
        height 100%
        opacity 0
        width @height
        transition opacity .2s linear

        +hover-state()
          opacity 1

    &__title-wrapper
      background content-color
      height 20%
      margin 0
      position relative

      &__title
        align()
        color header-color
        font-size vr-block(1.1)
        text-align center
        width 100%

    +above(breakpoints.tablet)
      col(1/2, cycle: 2)

      // If there is only one project, then use full availble space
      &:first-child:nth-last-child(1)
        col(1/1, uncylce: 2)
