.ProjectNotes

  ul
    list-style-type none
    padding 0

    li:before
      content '✓'
      color green-500
      margin 0 1em 0 .5em

  &__title
    border-top 2px solid grey-400
    padding-top vr-block(.5)
