.QuoteGenerator
  margin 0 auto
  max-width 768px

  &__actions
    margin-bottom vr-block(1)
    cf()

    &__new-quote
    &__tweet
      col(1/2)

  &__quote
    background header-background-color
    padding vr-block(1)

    .loader
      color body-background-color

    &__text
    &__author
      display block
      text-align center

    &__text
      color body-background-color
      font-weight 600

    &__author
      color footer-color
      font-style italic
