.TimrJS

  pre
  code
    font-weight 500

  code
    background grey-300

  pre
    background #1b2b34
    border 3px solid blue-500
    color body-background-color
    margin-bottom vr-block(1)
    overflow-x auto
    padding vr-block(.5)

    code
      background none
      padding 0

    .storage
    .keyword
    .arrow
      color #C594C5

    .punctuation
      color #5FB3B3

    .function
      color #6699CC

    .parameter
    .number
      color #F99157

    .console
    .class
      color #FAC863

    .comment
      color #65737e

    .string
      color #99C794

    .output
    ^[0]__main__output-example
      color #FAC863

  blockquote
    border-left 5px solid blue-500
    padding-left vr-block(.5)

    a
      display block

  h5
    margin 0

  h1
  h2
  h3
  h4
  h5
    font-weight 600

  ul > ul
    margin 0 0 0 10px

  &__start-example
  &__options-example
  &__ticker-example
    margin-bottom vr-block(1)

    &__interactive

      pre
        margin-bottom 0

      &__demo-buttons
        background blue-500
        color body-background-color
        height 100%
        padding vr-block(.5)
        text-align center
        cf()

        h3
          margin 0

        button
          margin-bottom 0
          col(1/3)

      &__demo
        padding vr-block(.5)

      &__error
        background red-500
        color body-background-color
        font-weight 600
        padding vr-block(.25)

    &__notes
      padding-left vr-block(1)

    input
      height vr-block(1)
      text-align center
      width vr-block(4)

  &__header
    background linear-gradient(blue-500, green-500)
    padding 50px

    &__title
      color body-background-color
      font-weight 600
      margin 0
      text-align center

  &__main
    padding vr-block(1)

    &__output-example
      font-weight 600

    &__badges
      a:not(:last-child)
        margin-right 5px
