@import '_App'
@import '_Nav'
@import '_NavButton'
@import '_Header'
@import '_Projects'
@import '_ProjectNotes'
@import '_Footer'
@import '_Button'
@import '_Code'
@import '_TimrJS'
@import '_Calculator'
@import '_SimonGame'
@import '_TwitchApp'
@import '_QuoteGenerator'
@import '_PomodoroTimer'
@import '_WeatherWidget'
@import '_GameOfLife'
