.Calculator
  color grey-300
  margin 0 auto
  z-depth('2')

  &__window
    background blue-grey-900
    height 10em
    margin-bottom 3px
    position relative

    &__calc
    &__entry
      margin 0
      position absolute
      right 10%
      white-space nowrap

    &__entry
      bottom 15%
      color yellow-500
      font-size 3em

    &__calc
      font-size 2em
      top 15%

  &__keys
    background blue-grey-900

    &__key
      cursor pointer
      display inline-block
      font-size 2em
      height 2em
      line-height @height
      text-align center
      user-select none
      width 25%

      +hover-state()
        background teal-500

      &--equals
        color yellow-500
        float right
        font-size 5em
        height 1.6em
        line-height @height
